#table
{
  padding: 10px 0 50px 0;
}

.badge
{
  background-color: #fa0140;
}

.list-group-item:hover
{
  transition: 0.5s;
  background-color: #2a2a2a;
  color: #fa0140;
}

#graph-section
{
  background-color: #2a2a2a;
  padding: 50px;
}

#img-container
{
  position: relative;
  width: 100%;
  height: 50%;
  background-image: url("../img/fav_img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#btn-his
{
  background-color: #2a2a2a;
  border-color: #fa0140;
  color: #fa0140;
  font-size: 20px;
}

#btn-his:hover
{
  background-color: #fa0140;
  color: #1a1a1a;
}
