.carousel-inner img
{
    width: 100%;
    height: 50%
}

.carousel-caption
{
  color: #808080;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
}

#btCarousel
{
  background: #b30000;
  color: #0d0d0d;
}

#btCarousel:hover
{
  background: #ff0000;
}

#welcomePagraf
{
  padding: 50px 10px 50px 10px;
}

#tools
{
  padding: 0px 10px 150px 10px;
}

#developerPhoto
{
  width: 100px;
  height: 100px;
}
