.carousel-inner img
{
    width: 100%;
    height: 50%
}

.carousel-caption
{
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
}

#pink-title
{
  color: #fa0140;
}

#btCarousel
{
  background: black;
  opacity: .5;
  color: #fa0140;
  border-color: #fa0140;
}

#btCarousel:hover
{
  background: #fa0140;
  opacity: 1;
  color: white;
}

#welcomePagraf
{
  padding: 50px 10px 50px 10px;
  color: white;
  background-color: #2e2e2e;
}

#tools
{
  padding: 50px 0px 50px 0px;
  color: white;
  background-color: #1a1a1a;
}
