html, body
{
  height: 100%;
}

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
 font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.7;
  perspective-origin: 0% 50%;
  perspective: 800px;
  background: #1a1a1a;
}

nav, main
{
  transition: transform 150ms ease-out;
}

nav
{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16em;
  background-color: #1a1a1a;
  transform: translateX(-16em);
}

nav.menu-active
{
  transform: translateX(0);
}

nav.menu-hover
{
  transform: translateX(-15em);
}

nav h1
{
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  right: -65px;
  height: 60px;
  width: 65px;
  line-height: 60px;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #1a1a1a;
  cursor: pointer;
}

nav h1:hover
{
  background: #fa0140;
}

nav ul
{
  margin: 0;
  padding: 0;
}

#user-photo
{
  transform: translateX(70%);
  width: 100px;
  height: 100px;
}

nav p
{
  color: white;
}

nav li
{
  display: inline-block;
  padding: 0 1em;
  width: 100%;
  height: 60px;
  color: #fff;
  line-height: 60px;
  background-color: #1a1a1a;
  transition: all 0.5s ease-in;
}

nav li:nth-of-type(2n)
{
  background-color: #2a2a2a;
}

nav li:hover
{
  background: #fa0140;
  color: white;
}

nav li a
{
  text-decoration: none;
  color: White;
}

nav li a:hover
{
  text-decoration: none;
  color: White;
}

main
{
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;
  transform-origin: 0% 50%;
  background-size: cover;
}

main:after
{
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms ease-out, visibility 0s 150ms;
}

main.menu-active
{
  border-radius: 0.001px;
  transform: translateX(16em) rotateY(15deg);
}

main.menu-active:after
{
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms ease-out, visibility 0s;
}

main.menu-hover
{
  border-radius: 0.001px;
  transform: translateX(1em) rotateY(1deg);
}

main section
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 55px 0px 0px 0px;
  overflow: auto;
}
