#register-container
{
  background-image: url("../img/register_Bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding: 100px 0px 100px 0px;
}

.card
{
  border-color: #1a1a1a;
}

.card-header
{
  color: #fa0140;
  background-color: #2a2a2a;
}

h1
{
  padding: 0px 0px 50px 0px;
  color: #ffffff;
}

.card-body
{
  background-color: #1a1a1a;
  color: #ffffff;
}

#btn-register
{
  background: #1a1a1a;
  opacity: .5;
  color: #fa0140;
  border-color: #fa0140;
}

#btn-register:hover
{
  background: #fa0140;
  opacity: 1;
  color: white;
}
