#indicator
{
  padding: 50px;
}

#history-section
{
  color: white;
  padding: 50px 0 0px 0;
  background-color: #2a2a2a;
}

.list-group
{
  padding: 50px 200px 50px 200px;
}

.list-group-item
{
  background-color: #1a1a1a;
}

#btn-out
{
  color: white;
  background-color: #fa0140;
  border-color: #fa0140;
}

#btn-out:hover
{
  color: #1a1a1a;
  background-color: white;
}
